<div class="body"></div>

		<div class="grad"></div>
		
		<div class="header">
			
			<div>NBA<span>MEX</span></div>
		</div>
		<br>
		<div class="login">
			<form [formGroup]="formregis">
				<input  [(ngModel)]= "usuario.email" type="text" placeholder="Correo electronico" name="user" formControlName="email"><br>
				<input formControlName="password" [(ngModel)]= "usuario.password" type="password" placeholder="Contraseña" name="password"><br>
				<input  routerLink="/login" (click)="registrar()" type="button" value="Registarse">
			</form>
		</div> 